# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Vector Database
vector_store/
data/chroma_db/

# Generated Document Data
data/chunks/
data/processed/

# IDE
.vscode/

# Operating System
.DS_Store
Thumbs.db